{% extends 'base.html'%}
{% load static %}
{% block content %}
<title>{% block title %}Sona{% endblock %}</title>

    <!-- Breadcrumb Section Begin -->
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h2>Our Rooms</h2>
                        <div class="bt-option">
                            <a href="{% url 'homepage' %}">Home</a>
                            <span>Rooms</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section End -->

    <!-- Rooms Section Begin -->
    <section class="rooms-section spad">
        <div class="container">
            <div class="row">
                {% for hostel in hostels %}
                <div class="col-lg-4 col-md-6">
                    <div class="room-item">
                        <img src="{{ hostel.image.url }}" alt="">
                        <div class="ri-text">
                            <h4>{{ hostel.title }}</h4>
                            <h3>{{ hostel.price }}$<span>/Pernight</span></h3>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="r-o">Rooms:</td>
                                        <td>{{ hostel.rooms }}</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Capacity:</td>
                                        <td>{{ hostel.guests }}</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Bed:</td>
                                        <td>King Beds</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Services:</td>
                                        <td>{{ hostel.services }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <a href="{% url 'room-detail' hostel.id %}" class="primary-btn">More Details</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
<!--                {% if is_paginated %}-->
<!--                <div class="col-lg-12">-->
<!--                    <div class="room-pagination">-->
<!--                         {% if page_obj.has_previous %}-->
<!--                        <a href="{% url 'hostels' %}?page={{ page_obj.previous_page_number }}"><i class="fa fa-long-arrow-left"> Past</i></a>-->
<!--                        {% endif %}-->
<!--                        <a href="#">{{ page_obj.number }}</a>-->
<!--                        {% if page_obj.has_next %}-->
<!--                        <a href="{% url 'hostels' %}?page={{ page_obj.next_page_number }}">Next <i class="fa fa-long-arrow-right"></i></a>-->
<!--                        {% endif %}-->
<!--                    </div>-->
<!--                </div>-->
<!--                {% endif %}-->
            </div>
        </div>
    </section>
{% endblock %}